---
import Footer from "../components/Footer.astro";

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string;
  description: string;
  openGraph: {
    basic: {
      title: string;
      description: string;
      imageUrl: string;
      url: string;
    }
  },
  twitter: {
    title: string;
    description: string;
    image: string;
    site?: string;
  }
}

const { title, description, openGraph, twitter } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" />

    <meta name="description" content={description}>

    <!-- Open Graph -->
    <meta name="og:title" content={openGraph.basic.title} />
    <meta name="og:description" content={openGraph.basic.description} />
    <meta name="og:image" content={openGraph.basic.imageUrl} />
    <meta name="og:url" content={openGraph.basic.url} />

    <!-- Twitter -->
    <meta name="twitter:title" content={twitter.title} />
    <meta name="twitter:description" content={twitter.description} />
    <meta name="twitter:image" content={twitter.image} />
    <meta name="twitter:site" content={twitter.site ? twitter.site : "@JoshHyde9"} />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title}</title>
  </head>
  <body>
    <main class="flex min-h-screen flex-col p-4 md:p-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
